input[type="text"] {
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  color: white;
  border: none;
  margin: 8px 0;
  cursor: pointer;
  padding: 14px 20px;
  border-radius: 4px;
  background-color: #20262c;
}

.form {
  width: 350px;
  padding: 8px;
  scroll-behavior: auto;
  background-color: #8dbdcb;
}

.space {
  margin: 8px;
}

.status {
  color: red;
  font-size: 150%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.row {
  display: flex;
  flex-direction: row;
}

.space-arround {
  justify-content: space-around;
}

.pointer {
  cursor: pointer;
}

.box {
  margin-top: 4px;
  margin-left: 12px;
  margin-bottom: 4px;
  padding-right: 12px;
  border-right: 1px dashed #19252f;
}

.button span {
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  display: inline-block;
}

.button span:after {
  top: 0;
  opacity: 0;
  right: -20px;
  content: "\00bb";
  transition: 0.5s;
  position: absolute;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  right: 0;
  opacity: 1;
}
