input[type="text"] {
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  color: white;
  border: none;
  margin: 8px 0;
  cursor: pointer;
  padding: 14px 20px;
  border-radius: 4px;
  background-color: #29494c;
}

input[type="submit"]:hover {
  background-color: #29494c;
}

.form {
  width: 300px;
  padding: 8px;
  scroll-behavior: auto;
  background-color: #8dbdcb;
}

.space {
  margin: 8px;
}

.status {
  color: red;
  font-size: 150%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.row {
  display: flex;
  flex-direction: row;
}

.space-arround {
  justify-content: space-around;
}

.pointer {
  cursor: pointer;
}
