.text-view-container {
  display: flex;
  margin-bottom: 8px;
  word-break: break-all;
  justify-content: space-between;
}

.text-view-title {
  flex: 1;
  padding: 8px;
  color: white;
  font-weight: bold;
  margin-right: 12px;
  display: inline-block;
  background-color: #66a18b;
}

.text-view-content {
  flex: 2;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

hr.divider {
  margin-top: 12px;
  margin-bottom: 16px;
  border-top: 2px #bbb;
}

.text {
  font-size: 135%;
}
